<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Stcak My Biz">
	<listeners>
		<listener class-name="com.auto.listeners.CustomListeners" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />

	</listeners>




	<test name="Home Page Test">
		<classes>
			<class name="com.auto.testcases.HomePageTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Carrer Page Test">
		<classes>
			<class name="com.auto.testcases.CarrerPageTest" />
		</classes>
	</test> <!-- Test -->


	<test name="QA Automation Page Test">
		<classes>
			<class name="com.auto.testcases.QAAutomationPageTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
